.tab-tv-channels-header {
    margin-top: 30px;
}

.tab-tv-channels-tab-buttons {
    margin-top: 40px;
    padding-left: 4px;
}

.tab-tv-channels-channels-list {
    margin-top: 27px;
}

.tab-tv-channels-footer {
    margin-top: 74px;
}