@import "../../components/Logo/Logo.css";
@import "../../components/InputForm/InputForm.css";
@import "../../components/SearchForm/SearchForm.css";
@import "../../components/Button/Button.css";
@import "../../components/GenreCard/GenreCard.css";
@import "../../components/Header/Header.css";
@import "../../components/Footer/Footer.css";
@import "../../components/FilmCard/FilmCard.css";
@import "../../components/LogInForm/LogInForm.css";
@import "../../components/FilmsList/FilmsList.css";
@import "../../components/Channel/Channel.css";
@import "../../components/ChannelsList/ChannelsList.css";
@import "../../components/TabButtons/TabButtons.css";
@import "../../components/Checkbox/Checkbox.css";

@font-face {
    font-family: 'Rubik';
    src: url('../../fonts/Rubik-Regular.ttf');
}

body {
    margin: 0;
    cursor: default;
}

.tab-tv-channels {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.tab-buttons {
    margin-top: 40px;
    margin-bottom: -9px;
}

.tab-tv-channels-footer {
    margin-top: 73px;
}

.main-log-in-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

 .tab-button.films, .tab-button.tv-channels {
    padding: 0 0 7px 0;
}