.log-in-form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 52px 49px 49px auto auto;
    width: 232px;
    height: 322px;
    padding: 36px;
    overflow: hidden;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 0 200vh rgba(51, 51, 51, 0.6);
    background: #ffffff;
}

.log-in-form-header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #333333;
    text-decoration: none;
    letter-spacing: 0.8px;
    margin: 0 auto;
}

.log-in-form-button {
    margin: auto;
    margin-bottom: 9px;
}