.log-in-form {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.log-in-form-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 52px 49px 49px auto auto;
    width: 232px;
    height: 322px;
    padding: 36px;
    overflow: hidden;
    margin: auto;
    border-radius: 8px;
    background: #ffffff;
    position: relative;
}
.log-in-form-background {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.6);
    position: absolute;
}

.log-in-form-header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #333333;
    text-decoration: none;
    letter-spacing: 0.8px;
    margin: 0 auto;
}

.log-in-form-button {
    margin: auto;
    margin-bottom: 0;
}

.log-in-form-checkbox {
    margin-top: 5px;
}