.logo {
    display: inline-block;
}

.logo-image {
    vertical-align: middle;
}

.logo-name {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    color: #333333;
    vertical-align: middle;
    padding-left: 11.8px;
    letter-spacing: 0.45px;
}