.search-form {
    display: inline-block;
    width: 402px;
    position: relative;
}

.search-form-button {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #E5261E;
    font-weight: bold;
    float: right;
    letter-spacing: 0.3px;
    bottom: 6px;
    right: 0;
    position: absolute;
}

.search-form-input {
    vertical-align: middle;
}