.checkbox-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    display: inline-block;
    margin: 0;
    position: absolute;
    margin-left: 24px;
}

.checkbox-input {
    display: inline-block;
    position: absolute;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom checkbox appearance */
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 0;
    margin-left: 0;
}

input[type=checkbox]:checked input[type=checkbox]::after {
    border-left: 2px solid #333333;
    border-bottom:  2px solid #333333;
    padding-left: 10px;
    padding-bottom: 5px;
    transform: rotate(45deg);  
}

input[type=checkbox]:focus {
    outline: none;
}