.genre-card-container {
    width: 280px;
    height: 208px;
    position: relative;
}

.genre-card {
    text-decoration: none;
    width: 280px;
    height: 208px;
    opacity: 0.8;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    position: relative;
}

.genre-card-container:hover {
    opacity: 1;
}

.genre-card-emoji {
    font-family: 'Rubik';
    font-size: 48px;
    line-height: 57px;
    position: absolute;
    margin: 0;
    top: 78px;
    left: 116px;
}

.genre-card-name {
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    padding-top: 160px;
    margin-left: -2px;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}