.films-list-header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    width: 1180px;
    margin: auto;
    margin-bottom: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    width: fit-content;
    margin: auto;
}

.films-list-genre-cards-item,
.films-list-film-cards-item {
    display: inline-block;
}

.films-list-genre-cards.films-list-header {
    margin-top: 33px;
    letter-spacing: 1px;
}

.films-list-film-cards.films-list-header {
    letter-spacing: 0.4px;
}

.films-list {
    margin-top: 41px;
}